<section class="profile">
  <nav>
    <div class="logo-holder"><img src="" alt=""></div>
    <div class="nav-btns">
      <% if @user %>
        <a href="/profile">Profile</a>
        <a href="/profile/subscription">Subscription</a>
      <% end %>
    </div>
  </nav>
  <section class="profile-container">
    <div class="profile-pic">
      <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="Avatar">
      <p class="name"><%= @user["name"] %></p>
      <p class="location"><%= @user["origin"] ? @user["origin"]["name"] : "Not Set" %></p>
      <div class="premium <%= @user['subscribed'] ? 'active' : 'inactive' %>"><%= @user['subscribed'] ? 'Premium' : 'Not Premium Yet' %></div>
    </div>
    <div class="profile-info">

    </div>
  </section>
</section>
