<!-- <section class="alternate-color bp-full-width-profile">
  <div id="item-header" role="complementary">
    <div id="header-cover-image"></div>
    <div class="profile-cover-inner" style="background-image: url(https://seventhqueen.com/themes/kleo/wp-content/uploads/buddypress/members/1/cover-image/58a1cdb6dd967-bp-cover-image.jpg)"></div> 
    <span class="toggle-header"></span>
    <div id="item-header-avatar" class="rounded">
      <a href="#">
        <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="avatar user-1-avatar avatar-150 photo" width="150" height="150" />
      </a>
      <span class="" data-toggle="tooltip" data-container="body" data-title="active 7 hours, 5 minutes ago" data-placement="top" data-original-title title /></div>
    <div id="item-header-content">
      <h3 style="color:white" class="user-nicename hover-tip click-tip profile-title" data-toggle="tooltip" data-container="body" data-title="active 7 hours, 5 minutes ago" data-placement="bottom" data-original-title title><%= @user["name"] %></h3>
    </div>
  </div>
</section> -->