<div class="row">
  <div class="col-sm-4 col-sm-offset-4 text-center">
    <div class="gap-20"></div>
    <div class="kleo-pop-title-wrap main-color">
      <h3 class="kleo-pop-title">Log in with your Simplifly login details</h3>
    </div>
    <form action="/authentications" class="kleo-form-signin" id="login_form" method="post" name="login_form">
      <input autofocus class="form-control" id="email" name="user[email]" placeholder="Email" required type="text" /> 
      <input class="form-control" id="password" name="user[password]" placeholder="Password" required type="password" />
      <div id="kleo-login-result" />
      <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button> 
    </form>
  </div>
</div>